<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/admin" class="brand-link">
    <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
      style="opacity: .8">
    <span class="brand-text font-weight-bolt text-white">Quản Lý Sinh viên</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="/QL_Taikhoan" class="d-block">Lê Đức Nam</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

        <li class="nav-item has-treeview">
          <a href="/QL_HeThong" class="nav-link">
            <i class="nav-icon fas fa-chart-pie"></i>
            <p>
              Hệ Thống
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/QL_PhanQuyen" class="nav-link">
                <!-- <i class="far fa-circle nav-icon"></i> -->
                <p>Phân Quyền</p>
              </a>
            </li>
          </ul>
        </li>
        <!-- Taikhoan -->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-tree"></i>
            <p>
              Tài Khoản
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/QL_Taikhoan" class="nav-link">
                <!-- <i class="far fa-circle nav-icon"></i> -->
                <p>Tài khoản</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/loainguoidung" class="nav-link">
                <!-- <i class="far fa-circle nav-icon"></i> -->
                <p>Loại Người Dùng</p>
              </a>
            </li>
          </ul>
        </li>
        <!-- bang_chu_cai -->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-table"></i>
            <p>
              Bảng Chữ Cái
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/Hiragana" class="nav-link">
                <!-- <i class="far fa-circle nav-icon"></i> -->
                <p>HIRAGANA</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/Hiragana" class="nav-link">
                <!-- <i class="far fa-circle nav-icon"></i> -->
                <p>KATAKANA</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/Hiragana" class="nav-link">
                <!-- <i class="far fa-circle nav-icon"></i> -->
                <p>KANJI</p>
              </a>
            </li>
          </ul>
        </li>
        <!-- bang_chu_cai -->
        <!-- bai_hoc -->
        <li class="nav-item has-treeview">
          <a href="/Baihoc" class="nav-link">
            <i class="fa fa-calendar-plus-o"></i>
            <p>
              Bài Học
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/N5" class="nav-link">
                <!-- <i class="far fa-circle nav-icon"></i> -->
                <p>N5</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/Hiragana/N4" class="nav-link">
                <!-- <i class="far fa-circle nav-icon"></i> -->
                <p>N4</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/Hiragana/N3" class="nav-link">
                <!-- <i class="far fa-circle nav-icon"></i> -->
                <p>N3</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/Hiragana/N2" class="nav-link">
                <!-- <i class="far fa-circle nav-icon"></i> -->
                <p>N2</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/Hiragana/N1" class="nav-link">
                <!-- <i class="far fa-circle nav-icon"></i> -->
                <p>N1</p>
              </a>
            </li>
          </ul>
        </li>
        <!-- bai_hoc -->
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>