<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/admin" class="brand-link">
    <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
      style="opacity: .8">
    <span class="brand-text font-weight-bolt text-white">Quản Lý Sinh viên</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="/QL_Taikhoan" class="d-block">Lê Đức Nam</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

        <!-- <li class="nav-item has-treeview">
          <a href="/QL_HeThong" class="nav-link">
            <i class="nav-icon fas fa-chart-pie"></i>
            <p>
              Hệ Thống
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/QL_PhanQuyen" class="nav-link"> -->
        <!-- <i class="far fa-circle nav-icon"></i> -->
        <!-- <p>Phân Quyền</p>
              </a>
            </li>
          </ul>
        </li> -->
        <!-- Taikhoan -->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-tree"></i>
            <p>
              Tài Khoản
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/QLTaiKhoan" class="nav-link">
                <!-- <i class="far fa-circle nav-icon"></i> -->
                <p>Tài khoản</p>
              </a>
            </li>
            <!-- <li class="nav-item">
              <a href="/loainguoidung" class="nav-link"> -->
            <!-- <i class="far fa-circle nav-icon"></i> -->
            <!-- <p>Loại Người Dùng</p>
              </a>
            </li> -->
          </ul>
        </li>
        <!-- Quản lý thông tin -->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-table"></i>
            <p>
              Quản lý Thông Tin
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/Hiragana" class="nav-link">
                <!-- <i class="far fa-circle nav-icon"></i> -->
                <p>QLTT Giáo Viên</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/Hiragana" class="nav-link">
                <!-- <i class="far fa-circle nav-icon"></i> -->
                <p>QLTT Học Sinh</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/Hiragana" class="nav-link">
                <!-- <i class="far fa-circle nav-icon"></i> -->
                <p>QLTT Môn Học</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/Hiragana" class="nav-link">
                <!-- <i class="far fa-circle nav-icon"></i> -->
                <p>QLTT Lớp</p>
              </a>
            </li>
          </ul>
        </li>
        <!-- Quản lý thông tin -->
        <!-- Quản lý điểm -->
        <li class="nav-item has-treeview">
          <a href="/Baihoc" class="nav-link">
            <i class="nav-icon fas fa-table"></i>
            <p>
              Quản Lý Điểm
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/N5" class="nav-link">
                <!-- <i class="far fa-circle nav-icon"></i> -->
                <p>Cập nhật Điểm</p>
              </a>
            </li>
          </ul>
        </li>
        <!-- Quản lý điểm -->
        <!-- Tìm kiếm và thống kê -->
        <li class="nav-item has-treeview">
          <a href="/Baihoc" class="nav-link">
            <i class="nav-icon fas fa-table"></i>
            <p>
              Tìm kiếm Và Thống kê
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/N5" class="nav-link">
                <!-- <i class="far fa-circle nav-icon"></i> -->
                <p>Tìm kiếm Thông Tin</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/N5" class="nav-link">
                <!-- <i class="far fa-circle nav-icon"></i> -->
                <p>Xếp Loại</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/N5" class="nav-link">
                <!-- <i class="far fa-circle nav-icon"></i> -->
                <p>Khen Thưởng</p>
              </a>
            </li>
          </ul>
        </li>
        <!-- Tìm kiếm và thống kê -->
        <!-- In thông tin -->
        <li class="nav-item has-treeview">
          <a href="/Baihoc" class="nav-link">
            <i class="nav-icon fas fa-table"></i>
            <p>
              In Thông Tin
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/N5" class="nav-link">
                <!-- <i class="far fa-circle nav-icon"></i> -->
                <p>Bảng Điểm Cá Nhân</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/N5" class="nav-link">
                <!-- <i class="far fa-circle nav-icon"></i> -->
                <p>Bảng Điểm Cả Lớp</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/N5" class="nav-link">
                <!-- <i class="far fa-circle nav-icon"></i> -->
                <p>DS Khen Thưởng</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/N5" class="nav-link">
                <!-- <i class="far fa-circle nav-icon"></i> -->
                <p>DSHS Thi Lại</p>
              </a>
            </li>
          </ul>
        </li>
        <!-- Tìm kiếm và thống kê -->
      </ul>
      <button type="button" class="btn btn-light text-center">Đăng Xuất</button>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>